absl-py
alabaster==0.7.12
appnope
argcomplete
argon2-cffi
astor==0.8.1
async-generator
attrs
Babel==2.10.3
backcall
black
bleach
Bottleneck==1.3.2
cached-property
certifi==2021.10.8
cffi
charset-normalizer==2.0.8
click==8.1.3
cloudpickle==2.1.0
coverage
cryptography==36.0.0
cycler==0.10.0
Cython
deap==1.3.1
debugpy
decorator
defusedxml
dill==0.3.4
dlx==1.0.4
docplex==2.22.213
docutils==0.19
entrypoints==0.3
et-xmlfile==1.1.0
fastdtw==0.3.4
fastjsonschema==2.15.1
fonttools==4.25.0
gast==0.2.2
google-pasta
grpcio
gym==0.24.0
gym-notices==0.0.6
h5py
idna==3.3
imagesize==1.4.1
importlib-metadata
inflection==0.5.1
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
jinja2==3.0.1
joblib==1.1.0
jsonschema
jupyter==1.0.0
jupyter-client
jupyter-console
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments
jupyterlab-widgets
Keras-Applications
Keras-Preprocessing
kiwisolver
lxml==4.6.4
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune==0.8.4
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
more-itertools==8.12.0
mpmath==1.2.1
multitasking==0.0.10
munkres==1.1.4
mypy-extensions==0.4.3
nb-black==1.0.7
nbclient
nbconvert==5.5.0
nbformat
nbsphinx==0.8.9 
nest-asyncio
networkx==2.6.3
notebook
ntlm-auth==1.5.0
numexpr
numpy
olefile
openpyxl
opt-einsum
packaging
pandas==1.3.4
pandocfilters
parso
pathspec==0.9.0
pbr==5.8.0
pexpect
pickleshare
Pillow==8.4.0
platformdirs==2.5.2
ply==3.11
prometheus-client
prompt-toolkit
protobuf==3.17.2
psutil==5.8.0
ptyprocess
pycparser
pygame==2.1.0
Pygments
pylatexenc==2.10
pyparsing
PyQt5==5.9.2
pyrsistent
python-constraint==1.4.0
python-dateutil
pytz
PyYAML==6.0
pyzmq
qiskit==0.34.2
qiskit-aer==0.10.3
qiskit-aqua==0.9.5
qiskit-ibmq-provider==0.18.3
qiskit-ignis==0.7.0
qiskit-machine-learning==0.3.0
qiskit-terra==0.19.2
qtconsole
QtPy
Quandl==3.7.0
requests==2.26.0
requests-ntlm==1.1.0
retworkx==0.10.2
scikit-fuzzy==0.4.2
scikit-learn==1.0.1
scipy
seaborn==0.11.2
Send2Trash
sip==4.19.8
six
snowballstemmer==2.2.0
Sphinx==5.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stevedore==3.5.0
symengine==0.8.1
sympy==1.9
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.0
termcolor==1.1.0
terminado==0.9.4
testpath
threadpoolctl==3.0.0
tomli==2.0.1
tornado
traitlets
tweedledum==1.1.1
typed-ast==1.5.4
typing-extensions
urllib3==1.26.7
wcwidth
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug
widgetsnbextension==3.5.1
wrapt==1.12.1
yfinance==0.1.67
zipp
